.section {
    display: flex;
    flex-flow: column wrap;
}

    .contiene-busqueda {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 6em 1em 2em 1em
    }

        .contiene-busqueda ul {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;
            list-style-type: none;
        }

        .contiene-busqueda ul li {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-end;
            width: 300px;
            margin: 0 0 2em 0;
            border-radius: 5px 5px 0 0;
            overflow: hidden
    
        }
        
            .contiene-busqueda ul li h3 {
                padding: 1em 0 0 0;
                color: var(--naranja);
            }

            .contiene-busqueda ul li p {
                font-size: .8rem;
                font-weight: 200;
                padding: 1em 0;
                text-align: justify;
                color: var(--gris);
                overflow-wrap: break-word;
            }
        
                button {
                    outline: none;
                    border: none;
                    background: transparent;
                    padding: 1em 3em;
                    margin: 1em 0 3em 0;
                    color: var(--naranja);
                    font-size: .8rem;
                    border: 1px solid var(--naranja);
                    cursor: pointer
                }
        
                    button:hover {
                        color: var(--negro);
                        background: var(--naranja);
                        transition: .3s
                    }