.bloque-home {
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
.contiene-home {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 6em 1em 2em 1em;
    margin: 0 auto;
    color: var(--naranja);
    background: rgba(26, 26, 26, .9);
}

    .bloque-home h1 {
        font-size: 3rem;
    }
    
    .bloque-home h3 {
        font-size: 2rem;
        font-weight: 400;
    }